.recipe-header {
    span {
        line-height: normal;
    }

    &__subtext {
        font-size: 1rem;
    }

    &__image {
        width: 3.25rem;
        height: 3.25rem;
        margin-right: 0.4rem;
    }
}